@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700&display=swap");

::-webkit-scrollbar{
	width: 6px;
}

::-webkit-scrollbar-track{
	background-color: #18181b;
}

::-webkit-scrollbar-thumb{
	background: #fefae0;
	border-radius: 10px;
}

.search:focus, .search:hover {
  border-color: rgb(99, 102, 241, 0.4);
  box-shadow: 0 0 0 4px rgb(99 102 241 / 10%);
 }
